In [1]:
x=1
y=2

print("Hello everyone including", x, y)

Hello everyone including 1 2

In [5]:
print("Hello everyone including %d %d" %(x, y))

Hello everyone including 1 2

In [9]:
print('Hello everyone including {} {}' + str(x) + str(y))

Hello everyone including {} {}12

In [10]:
var1= 123
var2= 'World'
print('Hello to the {} {}' + var2 + str(var1))

Hello to the {} {}World123

In [11]:
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [13]:
!python -V

Python 3.8.8

In [14]:
#Write a Python code to return your Python version
import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [17]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id
id = '513'
print("customer id = ", id)

customer id =  513

In [18]:
#Run the following statement, why there is an error
id=id+1
#error because trying to add int to a str

TypeError: can only concatenate str (not "int") to str

In [22]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
id = int(id)
new_id=id+1
print(new_id)

514

In [28]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.

print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [83]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"
print(course[0:6])

Python

In [84]:
# Print the element on the 13th index in the string
print(course[12])

a

In [38]:
# Find the length of string
len(course)

23

In [39]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [51]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15])

Data

In [50]:
# Get every third element in the range from index 0 to index 20
#I tried kinda, something to do with "//3"
course= "Python for Data Science"
print(course[0:20])
x = course[0:20]
for i in x:
    print(i)
    if

Python for Data Scie
P
y
t
h
o
n

f
o
r

D
a
t
a

S
c
i
e

In [59]:
print(course[0:21:3])

Ph ra i

In [85]:
# Concatenate course string with ", AI & Development"
course = course + ", AI & Development"
print(course)

Python for Data Science, AI & Development

In [86]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science
course = course.replace(" ", "_")
print(course)

Python_for_Data_Science,_AI_&_Development

In [87]:
# Convert all the characters in string to upper case
course = course.upper()
print(course)

PYTHON_FOR_DATA_SCIENCE,_AI_&_DEVELOPMENT